* {
  margin: 0;
  box-sizing: border-box;
}

.ptitle {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3c3a39;
  width: 100%;
  height: 50px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
}

.options-button {
  background-color: #3c3a39;
  border: none;
}

#main-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background: #1c1a19;
}

.flex-content {
  padding: 20vh 0;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", serif;
}

h3 {
  color: #fff5e1;
  position: static;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0;
}

.presentation-container {
  max-width: 100%;
  padding: 0 2rem;
}

.presentation-container p {
  color: hsl(0, 0%, 100%);
  line-height: 24px;
}

.container-icons {
  display: flex;
  z-index: 1;
  align-items: center;
  padding: 0;
  height: 40px;
  width: 214px;
  justify-content: space-around;
  list-style-type: none;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-icons {
  width: 25px;
}

.poligon-illustration {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 0;
}

.menu-button {
  height: 40px;
  width: 40px;
}

.containerp {
  color: pink;
}
