* {
  width: 375px;
}

.ptitle {
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

.app-header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3c3a39;
  width: 375px;
  height: 92px;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.options-button {
  background-color: #3c3a39;
  height: 40px;
  width: 40px;
  left: 311px;
  top: 4px;
  border-radius: 8px;
  padding: 8px;
  border: none;
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 100%;
  left: 0;
  top: 92px;
  background: #1c1a19;
}

.flex-content {
  width: 375px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  color: #ff6b00;
  font-size: 56px;
  flex: none;
  flex-grow: 0;
  line-height: 64px;
  letter-spacing: 0.37px;
  font-family: 'Crete Round', serif;
}

h3 {
  color: #fff5e1;
  position: static;
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0;
}

p {
  color: hsl(0, 0%, 100%);
  width: 327px;
  height: 123px;
  line-height: 24px;
}

.container-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: -6px 33px;
  height: 40px;
  width: 214px;
  justify-content: space-around;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-icons {
  width: 25.985201px;
}

.poligon-illustration {
  position: absolute;
  width: 252.89px;
  left: 122.1px;
  top: 210px;
}

.menu-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 328px;
  top: 17px;
  border-radius: 8px;
}
